//Breakpoints-----------------------------

$mobile-max:          max-width 600px !default;
$small:               600px !default;
$medium:              1024px !default;
$large:               1824px !default;

/**
 * DEFAULTS --------------------------------------------------------------------------/*
 */


/**
 * MOBILE ONLY --------------------------------------------------------------------------/*
 */

@include breakpoint($mobile-max) {


}


/**
 * SMALL --------------------------------------------------------------------------/*
 */

@include breakpoint($small) {


}


/**
 * MEDIUM --------------------------------------------------------------------------/*
 */

@include breakpoint($medium) {


}


/**
 * LARGE --------------------------------------------------------------------------/*
 */

@include breakpoint($large) {
   
}